            .body {
                font-family: Arial;
                background-color: rgb(242, 247, 242);
                width: 100%;
            }
            * {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }
            html {
                scroll-behavior: smooth;
            }

            /*---header---*/

            .header {
                display: flex;
                flex-direction: row;
                flex: 1;
                background-color: rgb(233, 249, 234);
                height: 75px;
                width: 95%;
                padding-right: 6px;
                border-radius: 40px;
                margin: 14px 0px;
                justify-content: space-between;
                align-items: center;
                border: 1px solid rgb(201, 245, 205);
                position: absolute;
                z-index: 1;

            }
            .left-section {
                display: flex;
                position: relative;
                flex-direction: row;
                justify-content: space-between;
                color: rgb(41, 40, 40);
                column-gap: 20px;
                font-size: 14px;
                margin-left: 20px;
                cursor: pointer;
            }
            .home {
                text-decoration: none;
                color: inherit;
            }

            .middle-section,
            .right-section {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .middle-section {
                margin-left: -10%;
            }
            .image-leave-div,
            .image-leave {
                height: 55px;
                width: 90%;
            }
            .ID {
                font-size: 23px;
                font-weight: bolder;
                color: rgb(37, 37, 37);
            }
            .right-section {
                background-color: rgb(4, 68, 4);
                height: 50px;
                width: 150px;
                border-radius: 25px;
                justify-content: space-between;
            }
            .start {
                color: white;
                font-size: 15px;
                margin-left: 20px;
            }
            .button-plus {
                color: black;
                font-size: 30px;
                font-weight: 500;
                height: 40px;
                width: 40px;
                border: 1px solid white;
                border-radius: 20px;
                margin-right: 11px;
            }
            @media (max-width: 749px){
                .header {
                    display: block;
                    display: flex;
                    height: 75px;
                }
                .left-section {
                    display: none;
                }
                .middle-section {
                    width: 80px;
                    margin: 0px;
                }
                .middle-section .ID {
                    display: none;
                }
                .right-section {
                    margin-right: -2px;
                }

            }
            @media (max-width: 500px){
                .header {
                    display: block;
                    display: flex;
                    height: 60px;
                    margin-right: 10px;
                }
                .middle-section {
                    width: 60px;
                    height: 20px;
                }
                .right-section {
                    width: 100px;
                    height: 45px;
                }
                .start{
                    font-size: 12px;
                    margin-left: 10px;
                }
                .button-plus {
                    height: 35px;
                    width: 40px;
                    margin-right: 8px;
                }
            }

            /*---Section1---*/

            .section {
                width: 100%;
                height: 800px;
                background-image: linear-gradient(rgba(4, 9, 30, 0.7)),url(images/background1.jpg);
                display: flex;
                justify-content: center;
            }
            .text1 {
                position: absolute;
                color: white;
                width: 100%;
                text-align: center;
                top: 200px;
                font-size: 16px;
                font-family: Arial;
            }
            .text3 {
                position: absolute;
                color: rgb(225, 222, 222);
                text-align: center;
                top: 480px;
                width: 100%;
                font-size: 17px;
                font-family: Arial;
                line-height: 22px;
            }
            @media (max-width: 401px) {
                .break {
                    display: none;
                }
            }
            .Interior {
                position: absolute;
                width: 100%;
                text-align: center;
                top: 330px;
                color: rgb(243, 242, 242);
                font-weight: bolder;
                font-size: 92px;
                font-family: Arial;
            }
            .button {
                position: absolute;
                display: flex;
                flex-direction: row;
                top: 610px;
                background-color: rgb(246, 84, 20);
                width: 160px;
                height: 55px;
                align-items: center;
                font-family: Arial;
                justify-content: space-between;
                border-radius: 30px;
            }
            .get1 {
                color: white;
                padding-left: 7px;
            }
            .plus {
                width: 35px;
                height: 38px;
                font-size: 30px;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 19px;
                margin-right: 10px;
            }
            .button:hover {
                background-color: rgb(253, 157, 119);
            }

            /*--responsiveness for section--*/
            
            @media (max-width: 749px){

                 .Interior {
                    line-height: 80px;
                    font-size: 90px;
                }
                .text3 {
                    font-size: 14px;
                    margin-top: 30px;
                }
            }

            @media (max-width: 500px){
                .Interior {
                    font-size: 30px;
                }
                .text3 {
                    font-size: 12px;
                    top: 400px;
                }
                .button {
                    top: 570px;
                }
            }


            /*--main text--*/


            .main-text {
                font-family: Arial;
                font-size: 50px;
                font-weight: bolder;
                width: 100%;
                margin-top: 75px;
                color: rgb(56, 55, 55);
                text-align: center;
                line-height: 70px;
                margin-bottom: 25px;
            }
            @media (max-width: 749px){
                .main-text {
                    font-size: 40px;
                    line-height: 55px;
                }
            }

            @media (max-width: 459px){
                .main-text {
                    font-size: 25px;
                }
            }


            /*--grid-picture--*/


            .grid-pictures {
                display: grid;
                grid-template-columns: 1fr 1fr;
                position: relative;
                width: 98%;
                column-gap: 20px;
                margin: auto;
            }
            .grid-1,
            .grid-2 {
                display: flex;
                flex-direction: column;
                width: 90%;
                height: 90%;
                margin-top: 50px;
                margin: auto;
            }
            .grid-picture1,
            .grid-picture2 {
                width: 100%;
                height: 70%;
                object-fit: cover;
                border-radius: 30px;
            }
            @media (max-width: 742px) {
                 .grid-picture1 {
                    height: 60%;
                 }
            }
            /*--responsiveness for the grid-picture--*/

            @media (max-width: 600px){
                .grid-pictures {
                display: grid;
                grid-template-columns: 1fr;
                justify-content: center;
                align-items: center;
                }
            }

            @media (max-width: 500px){
                .difference {
                font-size: 5vw;
                }
            }

            .inform1{
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
            .inform3 {
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
            @media (max-width: 590px) {
                .inform3 {
                     margin: 13% 0px;
                }
            }
            .emma {
                font-weight: 600;
                color: rgb(83, 83, 83);
                font-size: 35px;
                margin-top: 17px;
                margin-bottom: 20px;
                letter-spacing: -2px;
            }
            .inform2 {
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
            .lead {
                color: rgb(78, 77, 77);
                font-family: Arial;
                font-size: 21px;
                margin-top: 0px;
                margin-bottom: 26px;
            }
            .Contact {
                background-color: rgb(3, 95, 3);
                padding: 7px 30px;
                max-width: 300px;
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                font-family: Arial;
                font-size: 15px;
                border-radius: 30px;
            }
            .difference,
            .main-text2 {
                font-weight: bold;
                color:  rgb(51, 51, 51);
                font-size: 45px;
                width: 100%;
                font-family: Arial;
                text-align: center;
                margin-top:  100px;
                margin-bottom: 50px;
            }
            .Answer {
                display: grid;
                grid-template-columns: 1fr 1fr;
                font-family: Arial;
                gap: 20px;
                width: 98%;
                margin: auto;
            }
            .grid3,
            .grid4,
            .grid5,
            .grid6 {
                display: flex;
                position: relative;
                flex-direction: column;
                width: 98%;
                margin: auto;
                background-color: rgba(24, 49, 19, 0.925);
                color: white;
                height: 310px;
                border-radius: 20px;
                text-align: center;
                align-items: center;
            }
            .grid4 {
                background-color: rgb(209, 224, 190,);
                color: white;
            }
            .grid5 {
                background-color: rgb(230, 237, 220);
                color: rgb(75, 129, 75);
            }
            .grid6 {
                background-color: rgb(209, 224, 190);
                color: #181717;
            }
            .Expert {
                margin-top: 20px;
                margin-bottom: 30px;
                font-size: 30px;
                font-weight: bold;
            }
            .grid3-info {
                margin-left: 10px;
                text-align: center;
                line-height: 28px;
                font-size: 20px;
            }
            .question-mark,
            .question-mar {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 40px;
                border-radius: 40px;
                width: 60px;
                height: 60px;
                right: 20px;
                bottom: 18px;
                background-color: rgba(123, 165, 116, 0.5)
            }
            .question-mar {
                color: white;
            }
            @media (max-width: 720px){
                
                .Answer {
                    display: grid;
                    grid-template-columns: 1fr;
                    font-family: Arial;
                }
            }
            @media (max-width: 340px){
                .grid3,
                .grid4,
                .grid5 {
                    width: 100vw;
                }
                .grid3-info {
                    font-size: 5vw;
                }
                .Expert {
                    font-size: 6vw;
                }
            }
            @media (max-width: 500px){
                .difference { 
                    font-size: 8vw;
                }
            }
            

            